[Locations]
# Path to loadout config. Can use relative path from here.
looks_config = ./appearance.cfg

# Path to python file. Can use relative path from here.
python_file = ./testbot.py

# Name of the bot in-game
name = TestBot

[Details]
# These values are optional but useful metadata for helper programs
# Name of the bot's creator/developer
developer = ViliamVadocz

# Short description of the bot
description = Bot for testing things out.
	Makes it easier to prototype things and run tests.

# Fun fact about the bot
fun_fact = The first thing this bot did was float in microgravity.

# Link to github repository
github = https://github.com/ViliamVadocz/RLBot/tree/master/TestBot

# Programming language
language = python